* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 120px;
}

.container {
    display: flex;
    justify-content: center;
}

.example {
    display: flex;
    justify-content: space-around;

    width: 800px;
    margin: 50px 0;
    background-color: #D6E9FE;
}

.item img {
    display: block;
}

.item-relative { /*from the relative position and shift by top and left*/
    position: relative;
    top: 30px; /*bottom: 30px; */
    left: 30px; /*right: 30px; */
    /* nudges them from bottom right 30 px*/
}

.item-absolute { /* goes to the absolute, removes an element from the normal flow of the page*/
    position: absolute;
    top: 10px;
    left: 10px;
}

.absolute { /* changed item-absolute's parent element to be relative (relatively absolute)*/
    position: relative;
}

.item-fixed { /* stuck to screen permanently, cannot scroll away*/
    position: fixed;
    bottom: 0;
    right: 0;
}